<ion-content>
    <span style="cursor:pointer; float: right; padding: 12px; font-size: 2em;" (click)="close()">
        <ion-icon style="color: var(--ion-color-tertiary)" name="close-circle" slot="end"></ion-icon>
    </span>

    <table *ngIf="datatableType === 'weight'">
        <thead>
        <tr>
            <td>Materiais</td>
            <td>Peso especifico aparente (kN/m<sup>2</sup>)</td>
        </tr>
        </thead>
        <tbody>
        <tr (click)="selectValue(25)">
            <td>Concreto armado</td>
            <td>25</td>
        </tr>
        <tr (click)="selectValue(24)">
            <td>Concreto simples</td>
            <td>24</td>
        </tr>
        <tr (click)="selectValue(19)">
            <td>Argamassa de cal, cimento e areia</td>
            <td>19</td>
        </tr>
        <tr (click)="selectValue(21)">
            <td>Argamassa de cimento e areia</td>
            <td>21</td>
        </tr>
        <tr (click)="selectValue(12.5)">
            <td>Argamassa de gesso</td>
            <td>12.5</td>
        </tr>
        <tr (click)="selectValue(28)">
            <td>Granito</td>
            <td>28</td>
        </tr>
        <tr (click)="selectValue(28)">
            <td>Mármore e calcário</td>
            <td>28</td>
        </tr>
        <tr (click)="selectValue(18)">
            <td>Lajotas cerâmicas</td>
            <td>18</td>
        </tr>
        <tr (click)="selectValue(13)">
            <td>Tijolos furados</td>
            <td>13</td>
        </tr>
        <tr>
            <td>Tijolos maciços</td>
            <td>18</td>
        </tr>
        <tr (click)="selectValue(10)">
            <td>Angico, cabriuva, ipe roseo</td>
            <td>10</td>
        </tr>
        </tbody>
    </table>

    <table *ngIf="datatableType === 'aggregate'">
        <tbody>
        <tr (click)="selectValue(1.2)">
            <td>Basaltico</td>
            <td>1.2</td>
        </tr>
        <tr (click)="selectValue(1.0)">
            <td>Granito</td>
            <td>1.0</td>
        </tr>
        <tr (click)="selectValue(0.9)">
            <td>Calcario</td>
            <td>0.9</td>
        </tr>
        <tr (click)="selectValue(0.7)">
            <td>Arenito</td>
            <td>0.7</td>
        </tr>
        </tbody>
    </table>
</ion-content>