<ion-header style="background-color: #7e57ff">
    <ion-toolbar>
        <ion-title>
            Slab
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form [formGroup]="formGroup">

        <ion-fab vertical="top" horizontal="end" slot="fixed">
            <ion-fab-button (click)="submit()">
                <ion-icon name="calculator"></ion-icon>
            </ion-fab-button>
        </ion-fab>

        <ion-item>
            <ion-label position="stacked">Lx</ion-label>
            <ion-input type="number" formControlName="lx"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Ly</ion-label>
            <ion-input type="number" formControlName="ly"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Contorno</ion-label>

            <input type="radio" id="t1" value="TYPE_1" name="contorno"/>
            <label for="t1" class="t1"></label>
            <input type="radio" id="t2" value="TYPE_2" name="contorno"/>
            <label for="t2" class="t2"></label>
            <input type="radio" id="t3" value="TYPE_3" name="contorno"/>
            <label for="t3" class="t3"></label>
            <input type="radio" id="t4" value="TYPE_4" name="contorno"/>
            <label for="t4" class="t4"></label>
            <input type="radio" id="t5" value="TYPE_5" name="contorno"/>
            <label for="t5" class="t5"></label>
            <input type="radio" id="t6" value="TYPE_6" name="contorno"/>
            <label for="t6" class="t6"></label>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">CAA</ion-label>
            <ion-select formControlName="caa">
                <ion-select-option value="I"> I</ion-select-option>
                <ion-select-option value="II"> II</ion-select-option>
                <ion-select-option value="III"> III</ion-select-option>
                <ion-select-option value="IV"> IV</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Aço</ion-label>
            <ion-select formControlName="aco">
                <ion-select-option value="CA25"> CA25</ion-select-option>
                <ion-select-option value="CA50"> CA50</ion-select-option>
                <ion-select-option value="CA60"> CA60</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Altura (cm)</ion-label>
            <ion-input type="number" formControlName="altura"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Fck</ion-label>
            <ion-input type="number" formControlName="fck"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Esp. cam de regularização (mm)</ion-label>
            <ion-input type="number" formControlName="earg"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Espessura de piso (mm)</ion-label>
            <ion-input type="number" formControlName="emat"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">q - Carga acidental (kN/m<sup>2</sup>)</ion-label>
            <ion-input type="number" formControlName="q"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">&alpha;<sub>e</sub> - Agregado</ion-label>
            <ion-input type="number" formControlName="alpha"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                Concreto armado (kN/m<sup>2</sup>)
            </ion-label>
            <ion-input type="number" formControlName="gConcreto" #concretoInput></ion-input>
            <ion-icon style="color: #F9C338; cursor: pointer;" name="help-circle" slot="end"
                      (click)="openWeightDialog(concretoInput)"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                Camada de regularização (kN/m<sup>2</sup>)
            </ion-label>
            <ion-input type="number" formControlName="gArg" #argInput></ion-input>
            <ion-icon style="color: #F9C338; cursor: pointer;" name="help-circle" slot="end"
                      (click)="openWeightDialog(argInput)"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                Piso (kN/m<sup>2</sup>)
            </ion-label>
            <ion-input type="number" formControlName="gMat" #materialInput></ion-input>
            <ion-icon style="color: #F9C338; cursor: pointer;" name="help-circle" slot="end"
                      (click)="openWeightDialog(materialInput)"></ion-icon>
        </ion-item>

    </form>

</ion-content>
